.header_text
{
    text-align: center;
    color: gold;
}
.MainDiv
{
    display: flex;
}
.ButtonAndTextBox
{
    width: 20%;
}
.WeatherInfo
{
    flex: 1;
}

#text_area_for_response
{
    height: 617px;
    width: 497px;
}