.header_text
{
    text-align: center;
    color: gold;
}
.MainDiv
{
    display: flex;
}
.ButtonAndTextBox
{
    width: 20%;
}
.WeatherInfo
{
    flex: 1;
}

#text_area_for_response
{
    height: 617px;
    width: 497px;
}

/*a.GetWeatherButton {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display:block;
    width:120px;
    font-size: 14px;
    text-align:center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration:none;
}
a.GetWeatherButton:hover, a.GetWeatherButton:focus, a.GetWeatherButton:before, a.GetWeatherButton:after {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
a.GetWeatherButton:active, a.GetWeatherButton.active {
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}*/




